.button {
  width: 222px;
  height: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #fff;
  transition: all 0.3s ease;

  p {
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 2.4px;
    color: #333;
    text-transform: uppercase;
  }

  &.animate {
    span {
      transition: all 0.3s ease;
    }

    &:hover {
      overflow: hidden;
      gap: 0;

      span {
        opacity: 0;
        transform: translateX(60px);
        transition: all 0.3s ease;
      }
    }
  }
}
